* {
    font-family: sans-serif, monospace;
}

body {
    background-color: #1A181C;
    margin: 0px;
}

header {
    background-color: #643181;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
}

h1 {
    margin: 0px;
    padding: 10px 10px 0px 10px;
    font-size: 30px;
    color: #B494C7;
    display: block;
}

header h2 {
    color: #B494C7;
    display: block;
    margin: 0px;
    padding-bottom: 10px;
    font-size: 15px;
}

.footer-text {
    color: #ACA0B2;
    font-size: 10px;
    margin: 10px;
}

.dot {
    background-color: #ACA0B2;
    width: 4px;
    height: 4px;
    border-radius: 50px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}