body {
    font-family: sans-serif, monospace;
    background-color: #1A181C;
    margin: 0px;
}

header {
    background-color: #643181;
    text-align: center;
    width: 100%;
}

.pagetitle {
    margin: 0px;
    padding: 10px 10px 0px 10px;
    font-size: calc(28px + 0.5vw);
    color: #B494C7;
}

.pagetitle__sub {
    padding-bottom: 10px;
    padding-top: 0px;
    font-size: calc(20px + 0.25vw);
}

table {
    font-size: calc(15px + 0.2vw);
    border: 1px solid #ACA0B2;
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
}

td {
    border: 1px solid #ACA0B2;
}

.table__color {
    color: #ACA0B2;
}

.numinput {
    background-color: #8E60A7;
    color: #ACA0B2;
    border-color: #ACA0B2;
    width: 3%;
}

.numinput--large {
    width: 5%;
}

main {
    margin-top: 10px;
    color: #ACA0B2;
    border-color: #ACA0B2;
}

.hidden {
    display: none;
}

footer {
    font-size: calc(10px + 0.1vw);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.footer__text {
    color: #ACA0B2;
    padding-right: 5px;
    padding-left: 5px;
}