* {
    font-family: sans-serif, monospace;
    font-weight: 300;
}

h1 {
    font-family: sans-serif, monospace;
    color: black;
    margin: 5px;
    font-weight: 600;
}

h2 {
    font-family: sans-serif, monospace;
    color: black;
    margin: 5px;
    font-weight: 100;
    margin-bottom: 10px;
}

.numSet {
    width: 3%;
}

#equations {
    display: none;
}

#out {
    display: none;
}