.calc {
    background: #ac1a2d;
    color: rgba(255, 255, 255, .7);
    font-family: Tomorrow, -apple-system, sans-serif;
}

.calc__out {
    width: 10vw;
    height: 5vh;
    font-size: xx-large;
    text-align: right;
    line-height: 50%;
    padding: 3vh 10vw 3vh 10vw;
    border: 1vw solid #1d1d1d;
    border-top-left-radius: 1.5vw;
    border-top-right-radius: 1.5vw;
}

.calc__pad {
    height: 75vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-bottom-left-radius: 1.5vw;
    border-bottom-right-radius: 1.5vw;
}

.calc__row {
    background-color: #1d1d1d;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.calc__button {
    width: 6vw;
    height: 12vh;
    font-size: x-large;
    text-align: center;
    border-radius: 25%;
}