@font-face {
    font-family: Tomorrow;
    src: url("font/Tomorrow-Regular.ttf");
}

body {
    overflow: scroll;
    margin-top: 1.5vmax;
    background: #7e1221;
    font-family: Tomorrow, -apple-system, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.calc {
    background: #ac1a2d;
    color: rgba(255, 255, 255, .7);
    font-family: Tomorrow, -apple-system, sans-serif;
}

.calc__out {
    width: 20vmax;
    padding: 1.5vmax 5vmax 1.5vmax 5vmax;
    border: 1vmax solid #1d1d1d;
    border-top-left-radius: 1.5vmax;
    border-top-right-radius: 1.5vmax;
}

.calc__pad {
    background-color: #1d1d1d;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 3vmax;
    border-bottom-left-radius: 1.5vmax;
    border-bottom-right-radius: 1.5vmax;
}

.calc__row {
    background-color: #1d1d1d;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2vmax;
}

.calc__squareButton {
    width: 5vmax;
    height: 5vmax;
    font-size: 2vmax;
    text-align: center;
    border-radius: 25%;
}

.calc__rectangleButton {
    width: 30vmax;
    height: 5vmax;
    margin-top: 1vmax;
    font-size: 2vmax;
    text-align: center;
    border-radius: 1vmax;
}