@font-face {
    font-family: Tomorrow;
    src: url("font/Tomorrow-Regular.ttf");
}

body {
    overflow: scroll;
    margin-top: 1.5vmax;
    background: #7e1221;
    font-family: Tomorrow, -apple-system, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
